[Unit]
Description=Toss Trading Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/app/toss-trading-bot
ExecStart=/app/toss-trading-bot/venv/bin/python3 scripts/run_loop.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1
Environment=DB_PASSWORD=do4#Dk!Ekk33d#zz0l.,##

StandardOutput=journal
StandardError=journal
SyslogIdentifier=toss-bot

[Install]
WantedBy=multi-user.target
